/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;


@media (max-width:800px) {
  ul.SingleLineGridList-gridList-164 {flex-wrap:wrap}
  li.SingleLineGridList-gridTile-165 {flex-basis:50%;width:auto!important}
  }
/* Styles */
html {
  height: 100%;
}

body {
  line-height: 1.4em;
  color: #4d4d4d;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  height: 100%
}

td {
	padding: 12px;
}

h2 {
	color: $vin-blue;
}

.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }
td.fuel-savings-label { width: 175px; }


::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.062);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color:#b07524;
  -webkit-box-shadow: inset #b07524 0px 9px 33px;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}